$color-dark: #070518;
$color-light: #eeedb7;
$color-light-alt: #9de5a3;
$color-neutral: mix($color-dark, $color-light, 50);

html
{
    background-color: $color-dark;
    padding: 0;
    margin: 0;
}

body
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: $color-dark;
    color: $color-light;
}

header
{
    border-bottom: $color-light dotted 3px;
    margin-bottom: 50px;
}

main
{
    display: grid;

    grid-template-areas: 
    "cell viewport"
    "step viewport";

    grid-template-columns: 1fr 65%;
    grid-template-rows: 1fr 10%;

    justify-content: center;

    padding-bottom: 100px;

    #cell-controls
    {
        grid-area: cell;

        display: flex;
        flex-direction: column;

        padding: 15px;

        > li
        {
            list-style: none;
            height: 60px;
            background-color: $color-neutral;

            margin: 10px 0;

            display: flex;
            align-items: center;
            border-radius: 30px;

            padding-left: 30px;
 
            border: $color-light solid 2px;

            box-shadow: 0 0 2px 2px $color-light;

            *:first-child
            {
                width: 40px;
                height: 40px;
                border-radius: 15px;
                border: $color-light solid 2px;

                box-shadow: 0 0 2px 2px $color-light;
            }

            *:last-child
            {
                padding-left: 30px;
            }
        }
    }

    #step-controls
    {
        grid-area: step;

        display: grid;
        grid-template-areas: 
        "speed start stop"
        "step  step  step";

        margin: 10% 10px;

        #speed-input-container
        {
            grid-area: speed;
        }

        #start-stepping
        {
            grid-area: start;
        }

        #stop-stepping
        {
            grid-area: stop;
        }

        #step-once
        {
            grid-area: step;
        }
    }

    >svg
    {
        grid-area: viewport;
    }
}

h4
{
    text-decoration: underline;
    font-size: 1.5rem;
    color: $color-light-alt;
}